<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" nav-direction=back native-ui-sref="tab.main"
            native-options="{type: 'slide',direction: 'right'}">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">产品分类</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button iconfont icon-seach  button-clear grey" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" has-bouncing="true">
    <div class="row row-no-padding" id="classify">
      <div class="col-25 stable-bg">
        <ion-list class="list-borderless ">
          <ion-item ng-class="{false:'stable-bg',true:'classify-selected'}[classifyindex==$index]"
                    ng-click="getClassifyDetails($index)" ng-repeat="item in classifyinfo">
            <h2> {{item.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
      <div class="col-75">
        <ion-scroll ng-style="{height:scrollHeight}" direction="y" overflow-scroll="false" has-bouncing="true">
          <div id="classify-scroll-content" ng-style="{height:scrollContentHeight}">
            <div class="row row-no-padding   text-center row-wrap ">
              <!--     <p class="stable-bg  full-image text-left classify-details-bar"> 奶粉系列</p>-->
              <a ng-repeat="item in classifyDetails" ng-href="#/productlist/1/{{item.id}}" nav-direction=forward
                 class="col-33  subdued  padding-top border-rb">
                <img ng-src="{{item.image}}" alt=""/>
                <p class="nowrap">{{item.name}}</p>
              </a>
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
