<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title"> 搜索</h1>
    <button class="button button-clear" ng-click="modal.hide()">关闭</button>
  </ion-header-bar>
  <ion-content overflow-scroll="false" >
    <div class="bar item-input-inset positive-bg ">
      <label class="item-input-wrapper">
        <i class="iconfont icon-seach   placeholder-icon"></i>
        <input type="search" autofocus placeholder="请输入您要搜索的内容" class="light-bg"  ng-model="search.searchcontent"/>
      </label>
      <button class="button button-positive stable no-border" ng-click="" >
        搜索
      </button>
    </div>
  </ion-content>
</ion-modal-view>
