<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item" nav-direction=back native-ui-sref="tab.main"
            native-options="{type: 'slide',direction: 'right'}">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">购物车</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button no-border grey" ng-click="">编辑</button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-list class="list-borderless">
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails" nav-direction=forward>
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails">
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails">
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails">
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails">
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
      <p></p>
      <ion-item class="item-thumbnail-left  shoppingcart-list">
        <img ng-src="img/main/1.png" alt="" ui-sref="productdetails">
        <h2>婴幼儿配方奶粉3段</h2>
        <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
        <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
          class="energized">00</span></span> <i
          class="col icon ion-ios-plus-outline grey text-right"></i></p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="shoppingcart-footer-bar">
    <div class="row row-no-padding row-center ">
      <span class="col-20 padding-left"><i class="icon ion-ios-circle-outline"></i> 全选</span>
      <span class="col">合计 : <strong class="assertive">￥360.00</strong></span>
      <button ui-sref="revieworder" class="col button  button-assertive"><strong>去结算</strong> <i>(10)</i></button>
    </div>
  </ion-footer-bar>
</ion-view>
