<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left " ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">产品列表</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button iconfont icon-seach  button-clear grey" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-tabs id="productlist-tab" class="tabs-light tabs-top  " delegate-handle="my-handle-productlist">
    <div class="row row-horizontal-around text-center">
      <span class="col-15 {{tabIndex==0?'active':''}}" ng-click="selectedTab(0)">综合 <i
        class="icon ion-arrow-down-b"></i></span>
      <span class="col-15 {{tabIndex==1?'active':''}}" ng-click="selectedTab(1)">销量</span>
      <span class="col-15 {{tabIndex==2?'active':''}}" ng-click="selectedTab(2)">价格 <i class="icon ion-arrow-up-b"></i></span>
    </div>

  </ion-tabs>
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" delegate-handle="slidebox-productlist"
                 id="productlist">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getGoodsList(0)" pulling-text="下拉刷新"></ion-refresher>
        <p></p>
        <ion-list>
          <a ng-repeat="item in synthesizeList" ng-href="#/productdetails/{{item.id}}" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="{{item.image}}" alt="">
            <h2>{{item.goods_name}}</h2>
            <p class="text-wrap">{{item.goods_name}}</p>
            <p class="row row-center"><span class="col-75 energized">￥<strong>{{item.price.toString().split('.')[0]}}.</strong><span
              class="energized">{{item.price.toString().split('.')[1]}}</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

        </ion-list>
        <ion-infinite-scroll on-infinite="getGoodsList()" ng-if="totalsynthesize > pagesynthesize"
                             immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getGoodsList(0)" pulling-text="下拉刷新"></ion-refresher>
        <p></p>
        <ion-list>
          <a  ng-repeat="item in salesList" ng-href="#/productdetails/{{item.id}}" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="{{item.image}}" alt="">
            <h2>{{item.goods_name}}</h2>
            <p class="text-wrap">{{item.goods_name}}</p>
            <p class="row row-center"><span class="col-75 energized">￥<strong>{{item.price.toString().split('.')[0]}}.</strong><span
              class="energized">{{item.price.toString().split('.')[1]}}</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

        </ion-list>
        <ion-infinite-scroll on-infinite="getGoodsList()" ng-if="totalsales > pagesales"
                             immediate-check="false">
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getGoodsList(0)" pulling-text="下拉刷新"></ion-refresher>
        <p></p>
        <ion-list>
          <a  ng-repeat="item in priceList"  ng-href="#/productdetails/{{item.id}}" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="{{item.image}}" alt="">
            <h2>{{item.goods_name}}</h2>
            <p class="text-wrap">{{item.goods_name}}</p>
            <p class="row row-center"><span class="col-75 energized">￥<strong>{{item.price.toString().split('.')[0]}}.</strong><span
              class="energized">{{item.price.toString().split('.')[1]}}</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>


        </ion-list>
        <ion-infinite-scroll on-infinite="getGoodsList()" ng-if="totalprice > pageprice"
                             immediate-check="false">
      </ion-content>
    </ion-slide>
  </ion-slide-box>


</ion-view>
