<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back " ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">产品列表</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button iconfont icon-seach  button-clear grey" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-tabs id="productlist-tab" class="tabs-light tabs-top  " delegate-handle="my-handle-productlist">
    <div class="row row-horizontal-around text-center">
      <span class="col-15 {{tabIndex==0?'active':''}}" ng-click="selectedTab(0)">综合 <i
        class="icon ion-arrow-down-b"></i></span>
      <span class="col-15 {{tabIndex==1?'active':''}}" ng-click="selectedTab(1)">销量</span>
      <span class="col-15 {{tabIndex==2?'active':''}}" ng-click="selectedTab(2)">价格 <i class="icon ion-arrow-up-b"></i></span>
    </div>

  </ion-tabs>
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" delegate-handle="slidebox-productlist"
                 id="productlist">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <!--        <ion-refresher on-refresh="getSaleOrderList(0)" pulling-text="下拉刷新"></ion-refresher>-->
        <p></p>
        <ion-list>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@3.jpg" alt="">
            <h2>都市型婴儿四轮推车遮阳车</h2>
            <p class="text-wrap">德国品牌海外直供德国直邮Buga-boo Bee3都市型婴儿四轮推车这样车罩 轻便型</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@1.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@5.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@3.jpg" alt="">
            <h2>都市型婴儿四轮推车遮阳车</h2>
            <p class="text-wrap">德国品牌海外直供德国直邮Buga-boo Bee3都市型婴儿四轮推车这样车罩 轻便型</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@1.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@5.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
        </ion-list>
        <!--        <ion-infinite-scroll  on-infinite="getSaleOrderList()" ng-if="sellparamstotal > sellparamspage" immediate-check="false">
                </ion-infinite-scroll>-->
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <p></p>
        <ion-list>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@1.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@3.jpg" alt="">
            <h2>都市型婴儿四轮推车遮阳车</h2>
            <p class="text-wrap">德国品牌海外直供德国直邮Buga-boo Bee3都市型婴儿四轮推车这样车罩 轻便型</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@5.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@3.jpg" alt="">
            <h2>都市型婴儿四轮推车遮阳车</h2>
            <p class="text-wrap">德国品牌海外直供德国直邮Buga-boo Bee3都市型婴儿四轮推车这样车罩 轻便型</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
        </ion-list>

      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <p></p>
        <ion-list>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@5.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@1.jpg" alt="">
            <h2>婴幼儿配方奶粉3段</h2>
            <p class="text-wrap">100%海外原装正品荷兰Hero Baby婴幼儿奶粉白井塅3段 700g</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>
          <a ng-href="#/productdetails" nav-direction=forward class="item item-thumbnail-left main-hot-sale">
            <img ng-src="img/main/cp@3.jpg" alt="">
            <h2>都市型婴儿四轮推车遮阳车</h2>
            <p class="text-wrap">德国品牌海外直供德国直邮Buga-boo Bee3都市型婴儿四轮推车这样车罩 轻便型</p>
            <p class="row row-center"><span class="col-75"><strong class="energized">￥49.</strong><span
              class="energized">00</span></span> <i
              class="col iconfont icon-gouwuche positive text-right"></i></p>
          </a>

        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slide-box>


</ion-view>
