<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">产品详情</h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button iconfont icon-seach  button-clear grey" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg" id="productdetails">
    <ion-slide-box show-pager="true" does-continue="true" auto-play="true" slide-interval="3000"
                   delegate-handle="productdetails-slideboximgs" id="productdetails-slide">
      <ion-slide ng-repeat="item in goodsInfo.image_list">
        <img ng-src="{{item}}" alt="" class="full-image"/>
      </ion-slide>
    </ion-slide-box>
    <ion-list>
      <ion-item>
        <h2 class="text-wrap">{{goodsInfo.goods_name}}</h2>
        <h2 class="padding-top"><span class="price assertive"><i>￥</i><span>{{goodsInfo.price.toString().split('.')[0]}}.</span><i>{{goodsInfo.price.toString().split('.')[1]}}</i></span>
          <del class="original-price">原价:{{goodsInfo.original_price | currency :"￥"}}</del>
        </h2>
      </ion-item>
      <p></p>
      <a ng-href="" class="item item-icon-left item-icon-right item-borderless">
        <i class="icon ion-location positive"></i>
        <h2><span class="grey">送至</span> {{deliveryAddress.province + deliveryAddress.city + deliveryAddress.area +
          deliveryAddress.address}}</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <p></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2 class="grey">评价</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <div class="item item-avatar" ng-repeat="item in goodsCommentList">
        <img ng-src="img/account/header.png" alt="用户头像">
        <h2>萧十一郎 <span class="item-note">{{item.time | date : "yyyy-MM-hh HH:mm:ss"}}</span></h2>
        <p class="text-wrap">{{item.content}}</p>
      </div>
      <a ng-click="getGoodsCommentList()" class="item   text-center">
        <h2 class="positive">查看全部评论 <i class="icon ion-ios-arrow-right "></i></h2>
      </a>
      <p></p>
      <a ng-href="" class="item  item-icon-right item-borderless">
        <h2 class="grey">商品详情</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <div class="item item-body item-image">
        <div ng-bind-html="goodsInfo.description"></div>
      </div>

    </ion-list>
  </ion-content>

  <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-light productdetails-footer-bar "
            delegate-handle="productdetails-tabs">

    <!--购物车 Tab -->
    <ion-tab title="购物车" ng-click="addToCart()" icon-off="iconfont icon-gouwuche" icon-on="iconfont icon-gouwuche"
             badge-style="badge-positive"
             badge="0">
    </ion-tab>

    <!-- 收藏Tab -->
    <ion-tab title="收藏" icon-off="iconfont icon-jushoucang" icon-on="iconfont icon-jushoucanggift"
             on-select="collectGoods()">
    </ion-tab>

    <!-- 首页 Tab -->
    <ion-tab title="首页" icon-off="iconfont icon-icon11" icon-on="iconfont icon-icon11" nav-direction=back
             href="#/tab/main">
    </ion-tab>

    <button nav-direction=forward ng-click="addToCart()"
            class="tab col-40 button  button-positive ">加入购物车
    </button>

  </ion-tabs>
</ion-view>
