<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="false" class="stable-bg no-nav-header" id="userchangepassword">
    <div class="row row-horizontal-around row-top  light account-top-bg">
      <i class="col icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></i>
      <strong class="col-70 text-center"> 修改密码</strong >
      <a class="col"></a>
    </div>
    <form name="changepasswordForm">
      <div class="list">

        <label class="item item-input">
          <span class="input-label "> 新密码 </span>
          <input type="number" placeholder="请输入新密码" ng-model="user.newpassword" required/>
        </label>

        <label class="item item-input">
          <span class="input-label "> 确认密码 </span>
          <input type="number" placeholder="请再次输入密码" ng-model="user.affirmpassword" required/>
        </label>

        <div class="item item-input">
          <span class="input-label"> 验证码 </span>
          <span class="row row-no-padding">
          <input type="number" class="col-55" placeholder="请输入验证码" ng-model="user.verificationcode" required/>
            <button class="button button-small button-positive button-outline col-33">获取验证码</button>
          </span>
        </div>
      </div>
      <div class="padding">
        <button class="button button-positive full-image" ng-disabled="!changepasswordForm.$valid"  ng-click="changepasswordSubmit()">确定</button>
      </div>
    </form>
  </ion-content>

</ion-view>

