<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">联系我们</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-list class="list-borderless">
      <ion-item>
        <h2>客服电话 : <a class="subdued grey padding-left" href="tel:0755-8888888">0755-8888888</a></h2>
      </ion-item>
      <p></p>
      <ion-item>
        <h2>客服  QQ : <a class="subdued grey padding-left" > 8888888</a></h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
