<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">联系我们</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true">
    <ion-list class="list-borderless">
      <ion-item>
        <h2>客服电话 : <a class="subdued grey padding-left" href="tel:{{info.hotlink}}">{{info.hotlink}}</a></h2>
      </ion-item>
      <p></p>
      <ion-item>
        <h2>客服  QQ : <a class="subdued grey padding-left" > {{info.qq}}</a></h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
