<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">评价</h1>
  </ion-nav-title>
  <form name="evaluateform">
    <ion-content overflow-scroll="false" class="has-button-footer stable-bg" has-bouncing="true" id="evaluate">
      <div class="list padding-top list-borderless">
        <a ng-href="" class="item item-thumbnail-left ">
          <img ng-src="{{evaluate.image}}" class="border-radius-50" alt="" >
          <h2 >{{evaluate.goods_name}}</h2>
          <p>
            <i ng-class="{true:'positive',false:'grey'}[evaluateinfo.star>=1]" ng-click="evaluatestar(1)" class="icon ion-star"></i>
            <i ng-class="{true:'positive',false:'grey'}[evaluateinfo.star>=2]" ng-click="evaluatestar(2)" class="icon ion-star"></i>
            <i ng-class="{true:'positive',false:'grey'}[evaluateinfo.star>=3]" ng-click="evaluatestar(3)" class="icon ion-star "></i>
            <i ng-class="{true:'positive',false:'grey'}[evaluateinfo.star>=4]" ng-click="evaluatestar(4)" class="icon ion-star "></i>
            <i ng-class="{true:'positive',false:'grey'}[evaluateinfo.star>=5]" ng-click="evaluatestar(5)"class="icon ion-star "></i></p>
        </a>
        <label class="item item-input card item-borderless">
          <textarea rows="5" ng-model="evaluateinfo.Memo" placeholder="分享您的购买心得" ng-maxlength="300" required></textarea>
        </label>
      </div>

      <div class="padding-right text-right positive"><i class="icon ion-ios-camera camera" ng-click="uploadActionSheet()" ></i></div>
      <div class="row show-img row-wrap row-horizontal-center">
        <img ng-if="imgsPicAddr.length!=0"
          ng-src="{{imgsPicAddr[imgsPicAddr.length-1]}}"  style="height: 12rem" class="col-80 padding">
      </div>
    </ion-content>
    <div class="padding light-bg bottom-0" keyboard-attach>
      <a class="button button-positive  full-image" ng-disabled="!evaluateform.$valid" ng-click="submitevalute()">提交评价</a>
    </div>
  </form>
</ion-view>
