<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">邀请记录</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true" id="invitationlist">
    <ion-refresher on-refresh="getInvitation(0)" pulling-text="下拉刷新"></ion-refresher>
    <div ng-if="isNotData" class="isNotDataHint">
      <i class="icon ion-sad"></i>
      <p>暂无邀请记录</p>
    </div>
    <div class="row light-bg row-center padding grey" ng-repeat="item  in invitationList">
      <span class="col-20">邀请人</span>
      <h5 class="col positive">{{item.invite_name}}</h5>
      <span class="col-25 time ">{{item.time * 1000 | date : 'yyyy-MM-dd'}}</span>
    </div>

    <ion-infinite-scroll on-infinite="getInvitation()" ng-if="total > page"
                         immediate-check="false">
  </ion-content>
</ion-view>
