<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-back" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">邀请记录</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true" id="invitationlist">
     <div class="row light-bg row-center padding grey">
       <span class="col-20">邀请人</span>
       <h5 class="col positive">雾里看花</h5>
       <span class="col-25 time ">2016.12.10</span>
     </div>
    <div class="row light-bg row-center padding grey">
      <span class="col-20">邀请人</span>
      <h5 class="col positive">欧阳锋</h5>
      <span class="col-25 time ">2016.11.11</span>
    </div>
    <div class="row light-bg row-center padding grey">
      <span class="col-20">邀请人</span>
      <h5 class="col positive">雾里看花</h5>
      <span class="col-25 time ">2016.12.10</span>
    </div>
    <div class="row light-bg row-center padding grey">
      <span class="col-20">邀请人</span>
      <h5 class="col positive">欧阳锋</h5>
      <span class="col-25 time ">2016.11.11</span>
    </div>
    <div class="row light-bg row-center padding grey">
      <span class="col-20">邀请人</span>
      <h5 class="col positive">雾里看花</h5>
      <span class="col-25 time ">2016.12.10</span>
    </div>
  </ion-content>
</ion-view>
