<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">我的收入</h1>
  </ion-nav-title>
  <ion-tabs id="myincomelist-tab" class="tabs-light tabs-top  " delegate-handle="my-handle-myincomelistlist">
    <div class="row row-horizontal-around text-center">
      <span class="col-20 {{tabIndex==0?'active':''}}" ng-click="selectedTab(0)">我的收入 </span>
      <span class="col-20 {{tabIndex==1?'active':''}}" ng-click="selectedTab(1)">我的提现</span>

    </div>

  </ion-tabs>
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" delegate-handle="slidebox-myincomelist"
                 id="myincomelist">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getIncome(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData" class="isNotDataHint">
          <i class="icon ion-sad"></i>
          <p>暂无收入</p>
        </div>
        <p></p>
        <ion-list>
          <ion-item ng-repeat="item in myincomeList">
            <h2 class="row"><span class="col">余额</span> <span class="col-70 text-right">{{item.number}}</span></h2>
            <h2 class="row"><span class="col"><strong class="energized"
                                                      style="font-size: 1.5rem">{{item.balance}}</strong> 元</span> <span
              class="col item-note text-right">{{item.time | date : 'yyyy-MM-dd HH:mm:ss' }}</span></h2>
            <h2 class="row grey"><span class="col">收支余额 <strong class="energized"
                                                                style="font-size: 1.1rem">{{item.amount}}</strong> 元</span>
              <span
                class="col-20 item-note text-right">{{item.type==0?'收入':'支出'}}</span></h2>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="getIncome()" ng-if="totalincome > pageincome" immediate-check="false">
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <ion-refresher on-refresh="getWithdrawLog(0)" pulling-text="下拉刷新"></ion-refresher>
        <div ng-if="isNotData" class="isNotDataHint">
          <i class="icon ion-sad"></i>
          <p>暂无提现</p>
        </div>
        <p></p>
        <ion-list>
          <ion-item ng-repeat="item in withdrawList">
            <h2 class="row"><span class="col">余额</span> <span class="col-70 text-right">{{item.partner_trade_no}}</span>
            </h2>
            <h2 class="row"><span class="col"><strong class="energized"
                                                      style="font-size: 1.5rem">{{item.balance}}</strong> 元</span> <span
              class="col item-note text-right">{{item.time | date : 'yyyy-MM-dd HH:mm:ss' }}</span></h2>
            <h2 class="row grey"><span class="col">提现金额 <strong class="energized"
                                                                style="font-size: 1.1rem">{{item.amount}}</strong> 元</span>
              <span
                class="col-20 item-note text-right">{{item.status==0?'待处理':'已转账'}}</span></h2>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="getWithdrawLog()" ng-if="totalwithdraw > pagewithdraw"
                             immediate-check="false">
        </ion-infinite-scroll>

      </ion-content>
    </ion-slide>
  </ion-slide-box>

</ion-view>
