<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">我的订单</h1>
  </ion-nav-title>
  <ion-tabs id="myincomelist-tab" class="tabs-light tabs-top  " delegate-handle="my-handle-myincomelistlist">
    <div class="row row-horizontal-around text-center">
      <span class="col-20 {{tabIndex==0?'active':''}}" ng-click="selectedTab(0)">我的收入 </span>
      <span class="col-20 {{tabIndex==1?'active':''}}" ng-click="selectedTab(1)">我的提现</span>

    </div>

  </ion-tabs>
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)" delegate-handle="slidebox-myincomelist"
                 id="myincomelist">
    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <!--        <ion-refresher on-refresh="getSaleOrderList(0)" pulling-text="下拉刷新"></ion-refresher>-->
        <p></p>
        <ion-list>
          <ion-item  >
            <h2 class="row"> <span class="col" >余额</span> <span  class="col-70 text-right">546468446354846</span></h2>
            <h2 class="row"> <span class="col" ><strong class="energized" style="font-size: 1.5rem">90000</strong> 元</span> <span  class="col item-note text-right">2016.12.11 15:31:30</span></h2>
            <h2 class="row grey"> <span class="col" >收支余额 <strong class="energized" style="font-size: 1.1rem">8000</strong> 元</span> <span  class="col-20 item-note text-right">收入</span></h2>
          </ion-item>
          <ion-item  >
            <h2 class="row"> <span class="col" >余额</span> <span  class="col-70 text-right">546468446354846</span></h2>
            <h2 class="row"> <span class="col" ><strong class="energized" style="font-size: 1.5rem">90000</strong> 元</span> <span  class="col item-note text-right">2016.12.11 15:31:30</span></h2>
            <h2 class="row grey"> <span class="col" >收支余额 <strong class="energized" style="font-size: 1.1rem">8000</strong> 元</span> <span  class="col-20 item-note text-right">收入</span></h2>
          </ion-item>
          <ion-item  >
            <h2 class="row"> <span class="col" >余额</span> <span  class="col-70 text-right">546468446354846</span></h2>
            <h2 class="row"> <span class="col" ><strong class="energized" style="font-size: 1.5rem">90000</strong> 元</span> <span  class="col item-note text-right">2016.12.11 15:31:30</span></h2>
            <h2 class="row grey"> <span class="col" >收支余额 <strong class="energized" style="font-size: 1.1rem">8000</strong> 元</span> <span  class="col-20 item-note text-right">收入</span></h2>
          </ion-item>
          <ion-item  >
            <h2 class="row"> <span class="col" >余额</span> <span  class="col-70 text-right">546468446354846</span></h2>
            <h2 class="row"> <span class="col" ><strong class="energized" style="font-size: 1.5rem">90000</strong> 元</span> <span  class="col item-note text-right">2016.12.11 15:31:30</span></h2>
            <h2 class="row grey"> <span class="col" >收支余额 <strong class="energized" style="font-size: 1.1rem">8000</strong> 元</span> <span  class="col-20 item-note text-right">收入</span></h2>
          </ion-item>
          <ion-item  >
            <h2 class="row"> <span class="col" >余额</span> <span  class="col-70 text-right">546468446354846</span></h2>
            <h2 class="row"> <span class="col" ><strong class="energized" style="font-size: 1.5rem">90000</strong> 元</span> <span  class="col item-note text-right">2016.12.11 15:31:30</span></h2>
            <h2 class="row grey"> <span class="col" >收支余额 <strong class="energized" style="font-size: 1.1rem">8000</strong> 元</span> <span  class="col-20 item-note text-right">收入</span></h2>
          </ion-item>
          </ion-item>
        </ion-list>
        <!--        <ion-infinite-scroll  on-infinite="getSaleOrderList()" ng-if="sellparamstotal > sellparamspage" immediate-check="false">
                </ion-infinite-scroll>-->
      </ion-content>
    </ion-slide>

    <ion-slide>
      <ion-content overflow-scroll="false" class="has-tabs-top stable-bg" has-bouncing="true">
        <p></p>
        <div ng-if="true" class="isNotDataHint">
          <i class="icon ion-sad"></i>
          <p>暂无提现数据</p>
        </div>

        </ion-list>
      </ion-content>
    </ion-slide>
  </ion-slide-box>

</ion-view>
