<ion-view>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons  header-item" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">我的积分</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true" id="myntegral">
    <div class="row-wrap  account-top-bg  myntegral-show">
      <p class="col">当前积分</p>
      <h1 class="col ">2502578</h1>
    </div>
    <div class="row row-center light-bg padding grey">
      <span class="col-67"><span>19 : 20消费</span><span class="positive">￥5000元</span></span>
      <span class="col-33 text-right getntegral nowrap"><span>获得</span><span class="positive"> 5000 积分</span></span>
    </div>
    <p></p>
    <div class="row row-center light-bg padding grey">
      <span class="col-67"><span>19 : 20消费</span><span class="positive">￥5000元</span></span>
      <span class="col-33 text-right getntegral nowrap"><span>获得</span><span class="positive"> 5000 积分</span></span>
    </div>
    <p></p>
    <div class="row row-center light-bg padding grey">
      <span class="col-67"><span>19 : 20消费</span><span class="positive">￥5000元</span></span>
      <span class="col-33 text-right getntegral nowrap"><span>获得</span><span class="positive"> 5000 积分</span></span>
    </div>
    <p></p>
    <div class="row row-center light-bg padding grey">
      <span class="col-67"><span>19 : 20消费</span><span class="positive">￥5000元</span></span>
      <span class="col-33 text-right getntegral nowrap"><span>获得</span><span class="positive"> 5000 积分</span></span>
    </div>
    <p></p>
    <div class="row row-center light-bg padding grey">
      <span class="col-67"><span>19 : 20消费</span><span class="positive">￥5000元</span></span>
      <span class="col-33 text-right getntegral nowrap"><span>获得</span><span class="positive"> 5000 积分</span></span>
    </div>

  </ion-content>
</ion-view>
