<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">完善资料</h1>
  </ion-nav-title>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true" id="organizingdata">
    <form name="organizingdata">
      <ion-list>
        <a ng-click="uploadActionSheet()" class="item item-avatar-right   item-borderless">
          <img  ng-src="{{imgsPicAddr[0]}}" class="border-radius-50" alt="">
          <p class="padding-top">头像</p>
          <!--        <i class="icon ion-ios-arrow-right grey"></i>-->
        </a>
        <label class="item item-input ">
          <span class="input-label"> 父母姓名 </span>
          <input type="text" ng-model="userinfo.name" placeholder="请输入父/母姓名" required>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 宝宝姓名 </span>
          <input type="text" ng-model="userinfo.baby_name" placeholder="请输入宝宝姓名" required>
        </label>
        <div class="item">
          <div class="row row-no-padding row-center radio">
            <span class="input-label col-30"> 宝宝性别 </span>
            <label class="col-25"><input type="radio" name="sex" ng-model="userinfo.sex" value="0"/> <i
              class=" icon ion-disc"></i> 男宝</label>
            <label class="col-25"><input type="radio" name="sex" ng-model="userinfo.sex" value="1"/> <i
              class=" icon ion-disc"></i> 女宝</label>
          </div>
        </div>
        <label class="item item-input ">
          <span class="input-label"> 宝宝生日 </span>
          <input type="date" ng-model="userinfo.birthday" placeholder="请选择宝宝生日">
        </label>
        <label class="item item-input " ng-click="openModal()">
          <span class="input-label"> 所在地区 </span>
          <p class="{{addresspcd?'dark':'grey'}}">{{addresspcd?addresspcd:"请选择地区信息"}}</p>
        </label>
        <label class="item item-input ">
          <span class="input-label"> 收货地址 </span>
          <textarea class="col-60" rows="1" ng-model="userinfo.address" placeholder="请输入收货地址"></textarea>
        </label>

        <label class="item item-input ">
          <span class="input-label"> 身份证 </span>
          <input type="number" placeholder="请输入身份证号码" check-form
                 ng-blur="checkForm(userinfo.id_card,'身份证输入不正确','identitycard','')"
                 ng-model="userinfo.id_card">
        </label>

      </ion-list>
      <div class="padding">
        <button class="button button-positive full-image" ng-disabled="!(organizingdata.$valid&&verify)"
                ng-click="organizingdataSave()">
          确认保存
        </button>
      </div>
    </form>

  </ion-content>
</ion-view>
