.account .userinfo {
  padding: 0.8rem;
  height: 7rem;
}

.userinfo img {
  border: 3px solid rgba(255, 147, 188, 0.6);
  border-radius: 0.5rem;
}

.account .userinfo strong > i {
  padding-left: 0.8rem;
  font-weight: 100;
  font-size: 0.5rem;
}

.userinfo .userinfo-details {
  padding-left: 1.3rem;
}

.userinfo-details p > span {
  display: inline-block;
  color: #ffffff;
  margin-top: 0.5rem;
  border: 1px solid #ffffff;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}

.userinfo-list img {
  width: 2.5rem;
  height: 2.5rem;
}

.userinfo-border-rb {
  border-right: 1px solid rgba(221, 221, 221, 0.3);
  border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.userinfo-border-r {
  border-right: 1px solid rgba(221, 221, 221, 0.3);
}

.userinfo-border-b {
  border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}

.userinfo-list a {
  text-decoration: none;
}

.userinfo-list a p {
  color: #585858;
}

.shoppingcart-list .row strong, .shoppingcart-list .row i {
  font-size: 1.5rem;
  font-weight: 500;
}



.col.ion-ios-arrow-back {
  font-size: 1.6rem;
}

.account-top-bg {
  height: 8rem !important;
  background-image: url("../img/account/account-bg.jpg");
  background-size: cover;

}

.account-top-bg strong {
  padding-top: 0.3rem;
}

#addressmanage .ion-ios-compose-outline, #addressmanage .ion-ios-trash-outline {
  font-size: 1.3rem;
}

#addaddress select:not(:last-of-type) {
  border-right: 1px solid rgba(221, 221, 221, 0.3);
}

.radio label input[type='radio'] {
  display: none;
}

.radio label input:checked + i {
  color: #FF93BC;
}

#mywallet .row-wrap {
  padding-top: 6rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

#mycoupon .item {
  padding-bottom: 0;
}

#mywallet img {
  display: block;
  margin: 0rem auto 1rem;
  width: 5rem;
  height: 5rem;

}

#mycoupon .period-of-validity {
  margin-top: 0.6rem;
  padding-top: 0.5rem;
  border-top: 1px solid rgba(221, 221, 221, 0.3);
  font-size: 0.8rem;
}

#mycoupon .item img:last-of-type {
  float: right;
  margin-top: -2rem;
  width: 3rem;
  height: 2rem;
}

#invitationlist h5 {
  font-size: 1.1rem;
}

#invitationlist .time {
  padding-left: 0.5rem;
  border-left: 1px solid rgba(221, 221, 221, 0.5);
}

#myntegral .myntegral-show  {
  color: #ffffff!important;
  padding: 1.5rem 2rem;
}

#myntegral .myntegral-show h1{
  margin-top: 0;
  padding-top: 0;
  color: #ffffff;
}

#myntegral .getntegral {
  padding-left: 0.5rem;
  border-left: 1px solid rgba(221, 221, 221, 0.5);
}
